<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="margin:30px">
        <h1>Async Inn Asset Management</h1>
    </div>
        <div class="container" style="margin-left:0px">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" style="margin-right:10px">All Hotels</a>
                    <div class="dropdown-menu">
                        <a asp-controller="Hotel" asp-action="Index">View All Hotels</a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="Hotel" asp-action="Create">Create New Hotel</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" style="margin-right:10px">All Rooms</a>
                    <div class="dropdown-menu">
                        <a asp-controller="Room" asp-action="Index">View All Room Types</a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="Room" asp-action="Create">Create New Room Type</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" style="margin-right:10px">All Amenities</a>
                    <div class="dropdown-menu">
                        <a asp-controller="Amenities" asp-action="Index">View All Amenities</a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="Amenities" asp-action="Create">Create New Amenity</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" style="margin-right:10px">Hotel Rooms</a>
                    <div class="dropdown-menu">
                        <a asp-controller="HotelRoom" asp-action="Index">View All Hotel Rooms</a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="HotelRoom" asp-action="Create">Create New Hotel Room</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle btn btn-primary" data-toggle="dropdown" style="margin-right:10px">Room Amenities</a>
                    <div class="dropdown-menu">
                        <a asp-controller="RoomAmenities" asp-action="Index">View All Room Amenities</a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="RoomAmenities" asp-action="Create">Create New Room Amenity</a>
                    </div>
                </li>
            </ul>
        </div>
        <div style="margin-left:30px">

            @RenderBody()
        </div>
        <div style="margin:30px">
            <h6>Async Hotel By Jason Hiskey</h6>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>