<h1>Async Inn Hotel Management System</h1>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Navigation Bar</h1>
    <ul>
        <li><a asp-controller="Hotel" asp-action="Index">All Hotels</a></li>
        <li><a asp-controller="Amenities" asp-action="Index">All Amenities</a></li>
        <li><a asp-controller="Room" asp-action="Index">All Rooms</a></li>
        <li><a asp-controller="HotelRoom" asp-action="Index">Hotel Rooms</a></li>
        <li><a asp-controller="RoomAmenities" asp-action="Index">Room Amenities</a></li>
    </ul>
</body>